body {
    font-family: "Segoe UI", sans-serif;
    background: #991a1e; 
    margin: 0;
    padding: 0;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 150px;
}

.container {
    width: 420px;
    background: white;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #999;
}

button {
    width: 100%;
    padding: 12px;
    background: #991a1e;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #991a1e;
}

#result, #breakdown {
    margin-top: 20px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #aaa;
    padding: 6px;
    text-align: center;
}

th {
    background: #eee;
}
